@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

* {
    font-family: "Nunito";
}

body,
html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.float-animation {
    animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes pizzaFloat {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(-3deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.animate-pizzaFloat {
    animation: pizzaFloat 2s ease-in-out infinite;
}

@keyframes spinScale {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spinScale {
    animation: spinScale 6s linear infinite;
}

.custom-gradient-border {
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(85.93deg,
            #EC6112 1.55%,
            #FF902E 47.34%,
            rgba(254, 254, 254, 0) 90.56%);
}

.gradient-border {
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(85.93deg,
            #EC6112 1.55%,
            #FF902E 47.34%,
            rgba(254, 254, 254, 0) 90.56%);
}

@theme {
    --color-soft-gray: #E8E8E8;
    --color-off-white: #FEFEFE;
    --color-on-white: #EFEFEF;
    --color-near-black: #010101;
    --color-mid-gray: #575757;
    --color-light-gray: #C1C1C1;
    --color-lighter-gray: #E1E1E1;
    --color-dark-gray: #4D4D4D;
    --color-muted-gray: #787878;
    --color-unmuted-gray: #5C5C5C;
    --color-black: #010101;
    --color-prime-gradient: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%)
}


.text-prime {
    background: var(--color-prime-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.bg-prime {
    background: var(--color-prime-gradient) !important;
}